body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    background-image: linear-gradient(to bottom right, #FD8451, #FFBD6F);
    min-height: 100vh;
    overflow-y: hidden;
}

.menu-container {
    position: fixed;
    color: black;
    top: 3rem;
    right: 3rem;
    font-weight: 800;
    background-color: #f0e17f;
    border-radius: 8px;
    padding: 10px;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-item.active {
    font-weight: 1000;
}

.menu-item {
    margin: 5px 10px;
}

a,
a:hover,
a:visited,
a:active {
    color: inherit;
    text-decoration: none;
}
