.messageList {
    display: flex;
    flex-direction: column;
    width: 900px;
    /*    background: gray;*/
    margin: 0 auto;
    padding-bottom: 20px;
}

.listHeadline {
    display: flex;
    background-color: whitesmoke;
    border-radius: 10px 10px 0 0;
}

.listHeadline > * {
    text-align: center;
    padding: 10px;
}

.messageHeadline > * {
    padding: 10px;
}

.messageHeadline {
    display: flex;
    padding-bottom: 5px;
}

.messageTitle {
    flex: 3;
}

.messageDate {
    flex: 1;
    text-align: center;
}

.messageButtons {
    flex: 1;
}

.messageBody {
    padding: 10px;
    height: 200px;
    border: 1px dotted black;
    display: none;
    text-justify: auto;
}

.listHeadline.messageButtons {}

.messageHeadline > .messageButtons {
    display: flex;
    justify-content: space-between;
    border-left: 1px solid black;
}

.buttons {
    display: flex;
}

.buttons > button {
    background: #4CAF50;
    border: none;
    border-radius: 8px;
}
