.border {
    border: groove black 1px;
}

.button {
    height: 40px;
    border-radius: 10px;
    background-color: lightcyan;
    font-weight: 800;
}

.messageButton {
    font-weight: 500;
    font-size: 13px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.message-container {
    margin: 0 auto;
        min-width: 800px;
    max-width: 1100px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
}

.message-hint {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
}

#getAllMessagesForm {
    text-align: center;
}

.tablehint {
    font-weight: bolder;
    border-bottom: 1px solid black;
}

.messageTitleBlock {
    width: 60%;
    text-align: center;
}

.messageDateBlock {
    width: 30%;
}

.messageButtonBlock {
    width: 140px;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.messageBody {
    height: 30vh;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 0 30px;
    display: none;
    text-align: justify;
    box-shadow: 10px 10px 10px silver;
}

.message {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
}

.message-descr {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

#paginationMenu {
    display: flex;
    justify-content: center;
    height: 54px;
    width: 400px;
    margin: 10px auto;
}

.paginationjs-pages > ul > li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
}

.paginationjs-prev, .paginationjs-next {
    border: 1px solid black;
    margin: 0 20px;
}

.activePage {
    background-color: rgb(255, 200, 200);
}

.paginationjs-pages {
    display: flex;
}

.getMessageBodyButton {
    width: 70px;
}

.messagesList {
    height: 530px;
    display: none;
    overflow-y: scroll;
}

.block {
    display: flex;
    align-items: center;
}

.restButtons {
    display: flex;
    flex-direction: column;
}